<%= form_with(model: service, local: true) do |f| %>
  <% if service.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(service.errors.count, 'erro') %> impediram este serviço de ser salvo:</h4>
      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :code, 'Código' %><span class="text-danger">*</span>
        <%= f.text_field :code, class: 'form-control form-control-sm', required: true %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name, 'Nome' %><span class="text-danger">*</span>
        <%= f.text_field :name, class: 'form-control form-control-sm', required: true %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :category_id, 'Categoria' %>
        <%= f.collection_select :category_id, current_tenant.categories.order(:name), :id, :name, { include_blank: 'Selecione uma categoria' }, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :description, 'Descrição' %><span class="text-danger">*</span>
        <%= f.text_field :description, class: 'form-control form-control-sm', required: true %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :unit, 'Unidade' %>
        <%= f.text_field :unit, class: 'form-control form-control-sm', placeholder: 'Selecione' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :price, 'Valor do Serviço' %>
        <div class="input-group">
          <%= f.number_field :price, class: 'form-control form-control-sm', step: '0.01', min: '0', value: service.price || 0 %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :nfs_description, 'Discriminação padrão (NFS-e)' %>
        <%= f.text_area :nfs_description, class: 'form-control form-control-sm', rows: 3 %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :status, 'Ativo' %>
        <%= f.select :status, [['Sim', 'active'], ['Não', 'inactive']], {}, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>

  <div class="text-end">
    <%= f.submit 'Salvar', class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Voltar', services_path, class: 'btn btn-secondary btn-sm' %>
  </div>
<% end %>