<div class="card mb-3">
  <div class="card-header"><b>Obras do Cliente</b></div>
  <div class="card-body">
    <div class="alert alert-info">Cadastre aqui as obras vinculadas ao cliente, com endereço e detalhes específicos.</div>
    <div class="row">
      <div class="col-md-6">
        <%= f.label :work_name, 'Nome da Obra', class: 'form-label-sm' %>
        <%= f.text_field :work_name, class: 'form-control form-control-sm' %>
      </div>
      <div class="col-md-6">
        <%= f.label :work_address, 'Endereço da Obra', class: 'form-label-sm' %>
        <%= f.text_field :work_address, class: 'form-control form-control-sm' %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <%= f.label :work_city, 'Cidade', class: 'form-label-sm' %>
        <%= f.text_field :work_city, class: 'form-control form-control-sm' %>
      </div>
      <div class="col-md-3">
        <%= f.label :work_state, 'UF', class: 'form-label-sm' %>
        <%= f.text_field :work_state, class: 'form-control form-control-sm' %>
      </div>
      <div class="col-md-3">
        <%= f.label :work_zip, 'CEP', class: 'form-label-sm' %>
        <%= f.text_field :work_zip, class: 'form-control form-control-sm' %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <%= f.label :work_notes, 'Observações da Obra', class: 'form-label-sm' %>
        <%= f.text_area :work_notes, class: 'form-control form-control-sm', rows: 2 %>
      </div>
    </div>
  </div>
</div>