<%= form_with(model: equipment, local: true) do |f| %>
  <% if equipment.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(equipment.errors.count, 'erro') %> impediram este equipamento de ser salvo:</h4>
      <ul>
        <% equipment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Informações Básicas</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :category_id, 'Categoria' %>
            <%= f.collection_select :category_id, @categories, :id, :name, { include_blank: 'Selecione uma categoria' }, { class: 'form-control' } %>
          </div>
          <div class="form-group">
            <%= f.label :code, 'Código' %>
            <%= f.text_field :code, class: 'form-control', required: true %>
          </div>
          <div class="form-group">
            <%= f.label :name, 'Nome' %>
            <%= f.text_field :name, class: 'form-control', required: true %>
          </div>
          <div class="form-group">
            <%= f.label :description, 'Descrição' %>
            <%= f.text_area :description, class: 'form-control', rows: 3 %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :status, 'Status' %>
            <%= f.select :status, Equipment.statuses.keys.map { |key| [key.humanize, key] }, {}, { class: 'form-control' } %>
          </div>
          <div class="form-group">
            <%= f.label :control_type, 'Tipo de Controle' %>
            <%= f.select :control_type, Equipment.control_types.keys.map { |key| [key.humanize, key] }, {}, { class: 'form-control' } %>
          </div>
          <div class="form-group">
            <%= f.label :unit, 'Unidade' %>
            <%= f.text_field :unit, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
