<div class="card">
  <div class="card-header">
    <h4 class="card-title">Informações Técnicas</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :brand, 'Marca' %>
          <%= f.text_field :brand, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :model, 'Modelo' %>
          <%= f.text_field :model, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :serial_number, 'Número de Série' %>
          <%= f.text_field :serial_number, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :weight, 'Peso (kg)' %>
          <%= f.number_field :weight, class: 'form-control', step: '0.01' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :origin, 'Origem' %>
          <%= f.select :origin, [
            ['Nacional', 'national'],
            ['Importado', 'imported']
          ], { include_blank: 'Selecione a origem' }, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.label :ncm, 'NCM' %>
          <%= f.text_field :ncm, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :cest, 'CEST' %>
          <%= f.text_field :cest, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div> 