<h1>Editar Equipamento</h1>

<%= render 'tabs', equipment: @equipment %>

<% if @equipment.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(@equipment.errors.count, 'erro') %> impediram este equipamento de ser salvo:</h4>
    <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% case params[:aba] %>
<% when 'documentos' %>
  <%= form_with(model: @equipment, local: true) do |f| %>
    <%= render 'documentation', f: f %>
    <div class="mt-4">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', equipment_path(@equipment), class: 'btn btn-secondary' %>
    </div>
  <% end %>
<% when 'tecnicos' %>
  <%= form_with(model: @equipment, local: true) do |f| %>
    <%= render 'technical_info', f: f %>
    <div class="mt-4">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', equipment_path(@equipment), class: 'btn btn-secondary' %>
    </div>
  <% end %>
<% when 'financeiros' %>
  <%= form_with(model: @equipment, local: true) do |f| %>
    <%= render 'financial_info', f: f %>
    <div class="mt-4">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', equipment_path(@equipment), class: 'btn btn-secondary' %>
    </div>
  <% end %>
<% when 'locacao' %>
  <%= form_with(model: @equipment, local: true) do |f| %>
    <%= render 'rental_prices', f: f, equipment: @equipment %>
    <div class="mt-4">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', equipment_path(@equipment), class: 'btn btn-secondary' %>
    </div>
  <% end %>
<% when 'manutencao' %>
  <!-- TODO: Implementar aba de manutenção -->
<% else %>
  <%= render 'form', equipment: @equipment %>
<% end %>
