<h1>Editar Equipamento</h1>

<%= render 'tabs', equipment: @equipment %>

<%= form_with(model: @equipment, local: true) do |f| %>
  <% if @equipment.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@equipment.errors.count, 'erro') %> impediram este equipamento de ser salvo:</h4>
      <ul>
        <% @equipment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% case params[:aba] %>
  <% when 'documentos' %>
    <%= render 'documentation', f: f %>
  <% when 'tecnicos' %>
    <%= render 'technical_info', f: f %>
  <% when 'financeiros' %>
    <%= render 'financial_info', f: f %>
  <% when 'locacao' %>
    <%= render 'rental_prices', f: f, equipment: @equipment %>
  <% when 'manutencao' %>
    <!-- TODO: Implementar aba de manutenção -->
  <% else %>
    <%= render 'form', equipment: @equipment %>
  <% end %>

  <div class="mt-4">
    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', equipment_path(@equipment), class: 'btn btn-secondary' %>
  </div>
<% end %>
