<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Obras</h1>
      </div>
      <div class="col-sm-6">
        <div class="float-sm-right">
          <%= link_to new_work_path, class: 'btn btn-primary' do %>
            <i class="fas fa-plus"></i> Nova Obra
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Cliente</th>
                <th>Status</th>
                <th>Tipo</th>
                <th>Início</th>
                <th>Previsão Término</th>
                <th>Término</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <% @works.each do |work| %>
                <tr>
                  <td><%= work.code %></td>
                  <td><%= work.name %></td>
                  <td><%= work.person&.name %></td>
                  <td><%= work.status.humanize %></td>
                  <td><%= work.work_type.humanize %></td>
                  <td><%= l(work.start_date, format: :short) if work.start_date %></td>
                  <td><%= l(work.expected_end_date, format: :short) if work.expected_end_date %></td>
                  <td><%= l(work.end_date, format: :short) if work.end_date %></td>
                  <td>
                    <div class="btn-group">
                      <%= link_to work_path(work), class: 'btn btn-sm btn-info', title: 'Visualizar' do %>
                        <i class="fas fa-eye"></i>
                      <% end %>
                      <%= link_to edit_work_path(work), class: 'btn btn-sm btn-primary', title: 'Editar' do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                      <%= link_to work_path(work), 
                          method: :delete, 
                          data: { confirm: 'Tem certeza que deseja excluir esta obra?' }, 
                          class: 'btn btn-sm btn-danger',
                          title: 'Excluir' do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> 