<h1>Novo Contrato de Locação</h1>

<div class="card">
  <div class="card-header pb-0">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fas fa-tag"></i> Dados do Contrato</a>
      </li>
    </ul>
  </div>
  <div class="card-body pt-3">
    <%= form_with(model: @rental, local: true) do |f| %>
      <div class="row">
        <div class="col-md-2">
          <%= f.label :number, 'Número', class: 'form-label-sm' %>
          <%= f.text_field :number, class: 'form-control form-control-sm', readonly: true %>
        </div>
        <div class="col-md-2">
          <%= f.label :person_id, 'Cliente', class: 'form-label-sm' %>
          <%= f.collection_select :person_id, Person.clientes, :id, :name, {prompt: 'Selecione'}, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-md-3">
          <%= f.label :customer_name, 'Nome/Razão Social', class: 'form-label-sm' %>
          <%= f.text_field :customer_name, class: 'form-control form-control-sm', readonly: true, value: @rental.customer&.name %>
        </div>
        <div class="col-md-2">
          <%= f.label :limit, 'Limite Disponível', class: 'form-label-sm' %>
          <%= f.text_field :limit, class: 'form-control form-control-sm', readonly: true %>
        </div>
        <div class="col-md-3">
          <%= f.label :status, 'Situação', class: 'form-label-sm' %>
          <%= f.text_field :status, class: 'form-control form-control-sm', readonly: true, value: (@rental.status || 'Em criação').humanize %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-2">
          <%= f.label :issue_date, 'Data Emissão', class: 'form-label-sm' %>
          <%= f.text_field :issue_date, class: 'form-control form-control-sm', readonly: true, value: (@rental.issue_date || Time.current).strftime('%d/%m/%Y %H:%M:%S') %>
        </div>
        <div class="col-md-2">
          <%= f.label :start_date, 'Data Início', class: 'form-label-sm' %>
          <%= f.date_field :start_date, class: 'form-control form-control-sm', value: @rental.start_date %>
        </div>
        <div class="col-md-2">
          <%= f.label :first_billing_date, '1º Faturamento', class: 'form-label-sm' %>
          <%= f.date_field :first_billing_date, class: 'form-control form-control-sm', value: @rental.first_billing_date %>
        </div>
        <div class="col-md-2">
          <%= f.label :due_day, '1º Vencimento', class: 'form-label-sm' %>
          <%= f.date_field :due_day, class: 'form-control form-control-sm', value: @rental.due_day %>
        </div>
        <div class="col-md-2">
          <%= f.label :expected_end_date, 'Previsão Término', class: 'form-label-sm' %>
          <%= f.date_field :expected_end_date, class: 'form-control form-control-sm', value: @rental.expected_end_date %>
        </div>
        <div class="col-md-2">
          <%= f.label :end_date, 'Data Término', class: 'form-label-sm' %>
          <%= f.date_field :end_date, class: 'form-control form-control-sm', value: @rental.end_date %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-4">
          <%= f.label :delivery_address_id, 'Endereço de Entrega', class: 'form-label-sm' %>
          <%= f.collection_select :delivery_address_id, Address.all, :id, :full_address, {prompt: 'Selecione'}, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-md-4">
          <%= f.label :contact_id, 'Contato', class: 'form-label-sm' %>
          <%= f.collection_select :contact_id, Contact.all, :id, :name, {prompt: 'Selecione'}, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-md-4">
          <%= f.label :contact_name, 'Contato (livre)', class: 'form-label-sm' %>
          <%= f.text_field :contact_name, class: 'form-control form-control-sm' %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <%= f.label :notes, 'Observações', class: 'form-label-sm' %>
          <%= f.text_area :notes, class: 'form-control form-control-sm', rows: 2 %>
        </div>
        <div class="col-md-6">
          <%= f.label :notes2, 'Observações 2', class: 'form-label-sm' %>
          <%= f.text_area :notes2, class: 'form-control form-control-sm', rows: 2 %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-2">
          <%= f.label :price_table_id, 'Tabela', class: 'form-label-sm' %>
          <%= f.collection_select :price_table_id, PriceTable.all, :id, :name, {prompt: 'Selecione'}, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-md-2">
          <%= f.label :payment_condition, 'Condição Pagamento', class: 'form-label-sm' %>
          <%= f.text_field :payment_condition, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-md-2">
          <%= f.label :payment_method, 'Forma Pagamento', class: 'form-label-sm' %>
          <%= f.text_field :payment_method, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-md-3">
          <%= f.label :seller_id, 'Vendedor', class: 'form-label-sm' %>
          <%= f.collection_select :seller_id, User.all, :id, :name, {prompt: 'Selecione'}, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-md-3">
          <%= f.label :cost_center_id, 'Centro de Custo', class: 'form-label-sm' %>
          <%= f.collection_select :cost_center_id, CostCenter.all, :id, :name, {prompt: 'Selecione'}, class: 'form-control form-control-sm' %>
        </div>
      </div>
      <div class="row mt-2">
        <%# Removido campo period_value pois não existe na model Rental %>
        <%# Removido campo leased_value pois não existe na model Rental %>
        <div class="col-md-2">
          <%= f.label :total_amount, 'Valor Total', class: 'form-label-sm' %>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
            <%= f.text_field :total_amount, class: 'form-control', value: number_with_precision(@rental.total_amount || 0, precision: 2) %>
          </div>
        </div>
        <div class="col-md-3">
          <%= f.label :financial_nature_id, 'Natureza Financeira', class: 'form-label-sm' %>
          <%= f.collection_select :financial_nature_id, FinancialNature.all, :id, :name, {prompt: 'Selecione'}, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-md-3">
          <%= f.label :freight_financial_nature_id, 'Natureza Financeira Frete', class: 'form-label-sm' %>
          <%= f.collection_select :freight_financial_nature_id, FinancialNature.all, :id, :name, {prompt: 'Selecione'}, class: 'form-control form-control-sm' %>
        </div>
      </div>
      <div class="mt-3">
        <%= f.submit 'Salvar', class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Voltar para Pesquisa', rentals_path, class: 'btn btn-outline-info btn-sm' %>
      </div>
    <% end %>
  </div>
</div>
