<%= form_with(model: category, local: true) do |f| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(category.errors.count, "erro") %> impediram esta categoria de ser salva:</h4>
      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mb-3">
    <div class="card-header"><b>Dados da Categoria</b></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <%= f.label :name, 'Nome', class: 'form-label-sm' %>
          <%= f.text_field :name, class: 'form-control form-control-sm' %>
        </div>
        <div class="col-md-3">
          <%= f.label :status, 'Status', class: 'form-label-sm' %>
          <%= f.select :status, Category.statuses.keys.map { |s| [s.humanize, s] }, {prompt: 'Selecione'}, class: 'form-control form-control-sm' %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <%= f.label :description, 'Descrição', class: 'form-label-sm' %>
          <%= f.text_area :description, class: 'form-control form-control-sm', rows: 3 %>
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <%= f.submit 'Salvar', class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Voltar', categories_path, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>
<% end %>