<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Categorias</h1>
      </div>
      <div class="col-sm-6">
        <div class="float-sm-right">
          <%= link_to 'Nova Categoria', new_category_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td><%= category.description %></td>
                <td><%= category.status %></td>
                <td>
                  <%= link_to 'Ver', category, class: 'btn btn-info btn-sm' %>
                  <%= link_to 'Editar', edit_category_path(category), class: 'btn btn-warning btn-sm' %>
                  <%= link_to 'Excluir', category, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section> 